* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(rgb(40, 40, 40), rgb(61, 61, 61));
}
.heading {
  font-family: "Press Start 2P";
  color: beige;
  letter-spacing: 4px;
}
.heading .span-1 {
  border-bottom: 1px solid beige;
  border-top: 1px solid beige;
  padding: 7px 7px;
}
.heading .span-2 {
  padding: 8px 8px;
  background-color: beige;
  color: rgb(58, 58, 58);
}
.cards-container {
  height: 60vh;
  width: 80%;
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: -12px;
  margin-bottom: 12px;
  transition: all 1s;
  perspective: 500px;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.491);
  height: 23%;
  width: 18%;
  border-radius: 4px;
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

img {
  position: absolute;
  height: 60px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.card .front {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}
.flip {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}
.play {
  height: 0;
  width: 0;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
}
.play-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
}
.play-button button {
  padding: 10px;
  border-radius: 8px;
  font-family: "Press Start 2P";
  font-size: 32px;
  border: none;
  margin-bottom: 16px;
  transition: all 0.15s ease;
  background-color: beige;
  color: rgb(50, 50, 50);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -ms-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
}
.play-button button:hover {
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
}
.play-button button:active {
  transform: scale(0.97);
  -webkit-transform: scale(0.97);
  -moz-transform: scale(0.97);
  -ms-transform: scale(0.97);
  -o-transform: scale(0.97);
}
.play-button p {
  font-family: "Press Start 2P";
  font-size: 16px;
  color: beige;
  margin-top: 16px;
}
.reset-button,
.score {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 6px;
  font-family: "Press Start 2P";
  font-size: 16px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  margin-top: -14px;
  margin-left: 4px;
  transition: all 1s;
  background-color: beige;
  color: rgb(50, 50, 50);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}
.reset-button:hover {
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
}
.reset-button:active {
  transform: scale(0.97);
  -webkit-transform: scale(0.97);
  -moz-transform: scale(0.97);
  -ms-transform: scale(0.97);
  -o-transform: scale(0.97);
}
.done-text {
  position: absolute;
  font-family: "Press Start 2P";
  color: beige;
  letter-spacing: 4px;
  z-index: 1;
  font-size: 18px;
  text-align: center;
  line-height: 25px;
}

@media screen and (max-width: 767px) {
  body {
    justify-content: left;
    height: 90vh;
  }
  .heading {
    position: absolute;
    font-size: 16px;
    top: 140px;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
  }
  .play-button {
    position: absolute;
    top: 190px;
  }
  .play-button p {
    font-size: 10px;
    line-height: 22px;
    text-wrap: wrap;
    text-align: center;
    width: 250px;
  }
  .play-button button {
    font-size: 16px;
  }
  .cards-container {
    width: 90%;
    height: 280px;
    margin-top: 65px;
  }
  .card img {
    height: 38px;
  }
  .reset-button {
    margin-top: 0px;
  }
  .move-up {
    top: 35px;
  }
  .done-text {
    top: 200px;
    font-size: 18px;
    text-align: center;
    line-height: 25px;
  }
}
