:root {
  --first-color: rgb(65, 125, 184);
  --second-color: rgb(90, 90, 132);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}
body {
  background: linear-gradient(rgb(65, 125, 184), rgb(90, 90, 132));
  height: 100vh;
  width: 100vw;
}
